:root {

    --primary-color: #77b6ea;
    --secondary-color: rgb(196, 235, 200);
    --accent-color: #37393a;
    --secondary-color-transparent: rgba(196, 235, 200, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Taviraj", serif;
}

header{

    font-weight: 600;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav li{
    text-decoration: none;
    margin-left: 1rem;
}

nav a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    color: white;
    border: 1px solid var(--accent-color);
}

h1{
    font-weight: 600;
}

h2{

    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--primary-color);
}

p{
    font-weight: 200;
    margin-bottom: 1rem;
}

main{
    background-color: var(--secondary-color);
    padding: 2rem;
    margin: 0 auto;
}

.hero{

    width: calc(100% + 4rem);
    margin-left: -2rem;
    height: auto;
    margin-bottom: 1rem;
    display: block;
}

.hero-card{

    position: relative;
}

.hero-text{

    position: absolute;
    top: 1rem;
    left: 1rem;
    /*transform: translate(-50% -50%);*/
    width: 320px;
    max-height: 90%;
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--secondary-color-transparent);
    overflow: auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.hero-text h2{

    margin: 0;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
    margin-top: -2rem;
    margin-left: -2rem;
    margin-right: -1.5rem;
    text-align: center;
}

.hero-text p{

    padding-top: 1rem;
}

.classification, .see-shark, .teaching-resources{

   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2rem;
   margin-top: 2rem;
   padding: 1rem 0;
   justify-content: space-between;
   gap: 3rem;
}

.see-shark{

    flex-direction: row-reverse;
}

.text{
    display: flex;
    flex-direction: column;
}

.classification-img, .see-shark-img, .teaching-resources-img{

    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width:  400px;
    display: block;
}


footer {
    background-color: var(--accent-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80px;
    padding-bottom: 1rem;
}

footer li,
a {
    list-style: none;
    color: white;
    line-height: 1.5rem;

}
