:root {

    --primary-color: #437c90;
    --secondary-color: #255957;
    --accent-color1: #eeebd3;
}

body {
    font-family: "Winky Sans", sans-serif;
    font-weight: 400;
}

h1 {
    font-weight: 100;
}