:root {
    --color-primary: #251101;
    --color-secondary: #08415C;
    --color-tertiary: #6C9A8B;
    --color-quaternary: #F3D3BD;
    --color-quinary: #FCFAF9;

}

body {
    font-family: "Winky Sans", sans-serif;
}

h1 {
    background-color: var(--color-primary);
    color: white;
}

nav{
    background-color: var(--color-secondary);
    color: white; 
}

