:root{

    --primary-color: #440544;
    --secondary-color: #b686b6;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

h1{
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
}

form{

    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    gap: 0.5rem;
    padding: 1rem;
    
}

.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    border: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

/* select, 
input[type="text], 
input[type="date"]{

    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;

} */

footer{

    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 535px;
}